.row{
    display: flex;
    height: 88%;
    align-items: center;
    /* margin-top: 100px; */
}
.col{
    flex-basis: 50%;
}
h1{
    font-size: 100px;
}
#para{
    font-size: 20px;
    line-height: 15px;
}
.container{
    width: 100%;
    height: 100vh;
    /* background-image: url(https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg); */
    background-position: center;
    background-size: cover;
}
/* .background-image {
    background-image: url('https://i.pinimg.com/originals/db/34/d4/db34d40b271fb59477621550bf73ea0b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(100%);  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
body{
    background-image: linear-gradient(rgb(169, 169, 169),rgba(246, 246, 246, 0.76));
    background-image: url("indexbg.png");
    background-repeat: no-repeat;
    
}
button{
    width: 180px;
    color: white;
    font-size: 18px;
    padding: 12px 0;
    background: #FA7070;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    color: black;
    background: #ffe5d8;
}
.card{
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: contain;
    transition: all 0.3s;
}
.card:hover{
    width: 220px;
    height: 250px;
    color: rgb(255, 255, 255);
}
.card1{
    background-image: url("GKCARD.png");
}
.card2{
    background-image: url("MATHSCARD.png");
}
.card3{
    background-image: url("HISTORYCARD.png");}
.card4{
    background-image: url('others.png');
}